@media only screen and (max-width: 640px) {
  #wrapper {
    min-width: 100%;
  }
  #content {
    width: 100%;
    padding: 150px 10px 80px;
  }
  #content:before {
    height: 100px;   
    z-index: 5;
  }
  #main.none_bg #content{
    padding: 150px 20px 80px;
  }
  .image-l {
    float: none;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .section{
    margin-bottom: 30px;
  }
  header .h_inner {
    padding: 10px 20px;
  }
  header .h_inner li {
    margin-right: 5px;
  }
  header .h_inner li:last-child {
    margin-right: 0;
  }
  [class^="box"] li:last-child {
    margin-bottom: 0;
  }
  header .h_inner a {
    width: 30px;
    height: 30px;
  }
  header .logoTxt {
    width: 200px;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
  }
  header .logoTxt img {
    max-width: 100%;
    max-height: none;
  }
  h3{display: none;}
  h4 {
    margin-bottom: 30px;
  }
  [class^="box"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  [class^="box"] li {
    width: 49%;
    margin: 10px 0 0 0;
  }
  [class^="box"] li:nth-child(-n+3) {
    margin-top: 10px;
  }
  [class^="box"] li:nth-child(-n+2) {
    margin-top: 0;
  }
  .postGroup .postArt {
    width: 100%;
    margin: 0 0 20px 0;
  }
  .postGroup .postArt:last-child {
    margin-bottom: 0;
  }
  .frame01 {
    padding: 10px;
  }
  .slick{
    width: 100%;
  }
  .slick li{
    height: 200px;
  }
  .frame{
    width: 100%;
    padding: 20px;    
  }
  .frame.detective{
    margin-bottom: 20px;
  }
  .frame.advantage{border:none;}
  code{width: 100%;}
  .options_box{
    width: 100%;
    right: auto;left: 0;
    top: auto;bottom: 0;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }
  .options_box li{
    width: 50%;
  }
  .options_box a{
    min-width: none;
    width: 100%;
  }
  .options_box .active a{padding: 15px 0 14px;}

}
@media only screen and (max-width: 480px){
  .full_tbl td,.full_tbl th{
    display: block;
    width: 100%;
    border: none;    
  }  
  .full_tbl th{
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
  }
  .full_tbl tr:last-child th {
    border-bottom: 1px solid #fff;
  }
  .full_tbl tr:last-child td{
    border-bottom: 1px solid #fff;
  }
}
@media only screen and (max-width: 425px) {
  header .h_inner {
    width: 100%;
    border-radius: 0;
    border-right: none;
    border-left: none;
  }
  [class^="box"] li {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

@media only screen and (max-width: 375px) {
  header .h_inner a {
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
}
