* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#main {
  background-attachment: scroll, scroll;
}

#main.morningBg {
  background: url("../images/dynamic_clouds01.png") left -30px top 0, url("../images/dynamic_clouds02.png") left -10px top 0;
  background-color: #85ccf9;
  -webkit-transition: background-position 100s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -moz-transition: background-position 100s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -ms-transition: background-position 100s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -o-transition: background-position 100s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  transition: background-position 100s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
}

#main.afternoonBg {
  background: url("../images/dynamic_clouds01.png") left -30px top 0, url("../images/dynamic_clouds02.png") left -10px top 0;
  background-color: #f7980b;
  -webkit-transition: background-position 200s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -moz-transition: background-position 200s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -ms-transition: background-position 200s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -o-transition: background-position 200s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  transition: background-position 200s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
}

#main.nightBg {
  background: url("../images/dynamic_galaxy01.png") left -30px top 0, url("../images/dynamic_galaxy02.png") left -10px top 0;
  -webkit-transition: background-position 130s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -moz-transition: background-position 130s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -ms-transition: background-position 130s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  -o-transition: background-position 130s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  transition: background-position 130s cubic-bezier(0.39, 0.575, 0.565, 1), background-color 2s ease;
  background-color: #000;
}

#main.nightBg #content:before {
  display: none;
}

#main.none_bg {
  background: #355C7D !important;
}

#content {
  position: relative;
  width: 980px;
  margin: 0 auto;
  padding: 80px 0 50px;
  z-index: 0;
}

#main.none_bg #content {
  padding: 120px 0 50px;
}
#main.none_bg #content p{
  font-size: 18px;
}
#content:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 200px;
  bottom: 0;
  left: 0;
  background: url("../images/bot_clouds.png") center top/cover no-repeat;
  z-index: -1;
}
#main.none_bg #content:before{
  display: none;
}
#wrapper {
  min-width: 1000px;
  overflow: hidden;
}

p {
  margin: 0 0 5px 0;
}

img {
  max-width: 100%;
}

h3 {
  position: relative;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  left: 50%;
  padding: 0 20px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 0;
  margin-bottom: 30px;
}

h3:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 15px;
  background: #F67280;
  left: 0;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
  border-radius: 10px;
}

h4 {
  position: relative;
  display: inline-block;
  font-size: 24px;
  padding: 10px 20px;
  color: #fff;
  /* background: #6C5B7B;   */
  background-color: #355C7D;
  border: 1px solid #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 40px;
}

header {
  position: fixed;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
}

header .h_inner {
  display: inline-block;
  padding: 10px 15px;
  background: #C06C84;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid #fff;
  border-top: 0;
}

header .h_inner li {
  display: inline-block;
  margin-right: 10px;
}

header .h_inner li:last-child {
  margin-right: 0;
}

header .h_inner a {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: #C06C84;
  text-decoration: none;
  font-size: 18px;
  background: #fff;
  border-radius: 50%;
  -webkit-transition: 0.2s ease;
  -moz-transition: 0.2s ease;
  -ms-transition: 0.2s ease;
  -o-transition: 0.2s ease;
  transition: 0.2s ease;
  font-weight: bold;
}

header .h_inner .choosenTag {
  background: #F8B195;
  color: #fff;
}

header .logoTxt {
  position: absolute;
  left: 20px;
  top: -20px;
}

header .logoTxt img {
  max-width: 250px;
  max-height: 150px;
}

[class^="box"] {
  margin: 0 auto;
  letter-spacing: -4px;
  list-style: none;
  list-style-type: none;
  padding: 0;
  clear: both;
  margin-bottom: 50px;
}

[class^="box"] li {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 200px;
  background: #dedede;
  margin: 5px 1% 0 0;
  list-style: none;
  list-style-type: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -ms-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -o-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

[class^="box"] li:nth-child(-n+3) {
  margin-top: 0;
}

[class^="box"] li:nth-child(3n+3) {
  margin-right: 0;
}

[class^="box"] li img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.box07 {
  margin: 40px auto 20px;
}

.image-l {
  float: left;
  margin: 0 10px 10px 0;
}

.section {
  margin-bottom: 50px;
}

.section:last-child {
  margin-bottom: 0;
}

.none_bg p {
  color: #fff;
  margin-bottom: 15px;
}

.none_bg p:last-child {
  margin-bottom: 0;
}

.postGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #355C7D;
}

.postGroup .postArt {
  width: 48%;
  border: 1px solid #C06C84;
  margin-top: 20px;
  background: #fff;
}

.postGroup .postImg:nth-child(-n+2) {
  margin-top: 0;
}

.postArt dt,
.postArt dd {
  display: block;
  margin: 0;
}

.postArt dt {
  padding: 10px;
  background: #C06C84;
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.postArt dd {
  padding: 10px;
}

.postArt .postImage {
  position: relative;
  margin-bottom: 10px;
  height: 200px;
  background: #dedede;
  line-height: 0;
}

.postArt .postImage img {
  position: absolute;
  max-width: 90%;
  max-height: 90%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.frame_group {
  overflow: hidden;
  margin-bottom: 30px;
}

.frame_group:last-child {
  margin-bottom: 0;
}

.frame01 {
  overflow: hidden;
  margin: 0 auto 30px;
  padding: 20px;
  background-color: rgba(53, 92, 125, 0.3);
  color: #fff;
}

.frame {
  width: 80%;
  margin: 0 auto 30px;
  padding: 30px 20px;
}

.frame.detective {
  background: #6C5B7B;
  float: left;
  clear: both;
  margin-bottom: -20px;
}

.frame.advantage {
  background: #C06C84;
  float: right;
  clear: both;
  border-top: 3px solid #355C7D;
  border-left: 3px solid #355C7D;
}

.frame .ttl01 {
  text-shadow: rgb(255, 255, 255) 1px 0px 0px, rgb(255, 255, 255) 0.540302px 0.841471px 0px, rgb(255, 255, 255) -0.416147px 0.909297px 0px, rgb(255, 255, 255) -0.989992px 0.14112px 0px, rgb(255, 255, 255) -0.653644px -0.756802px 0px, rgb(255, 255, 255) 0.283662px -0.958924px 0px, rgb(255, 255, 255) 0.96017px -0.279415px 0px;
  position: relative;
  font-size: 22px;
  color: #614747;
  padding: 0 0 10px 0;
}

.frame .ttl01:before {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  left: 0;
  bottom: 0;
  background: #355C7D;
}

.w10 {
  width: 10%;
}

.w90 {
  width: 90%;
}

.attr_tbl {
  border-collapse: collapse;
}

.attr_tbl td {
  border-bottom: 1px solid #fff;
}

.attr_tbl tr:last-child td {
  border-bottom: none;
}

.attr_tbl th,
.attr_tbl td {
  padding: 10px;
  color: #fff;
}

.attr_tbl th {
  background: #6C5B7B;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

.attr_tbl tr:last-child th {
  border-bottom: none;
}

.ttl02 {
  position: relative;
  font-size: 22px;
  padding-left: 20px;
}

.none_bg .ttl02 {
  margin-bottom: 30px;
}

.ttl02:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #fff;
}

.frame:last-child {
  margin-bottom: 0;
}

.list {
  list-style-type: none;
  list-style: none;
}

.list li {
  font-size: 18px;
  position: relative;
  list-style: none;
  list-style-type: none;
  color: #fff;
  padding: 0 0 0 30px;
  margin-bottom: 10px;
}

.list li:last-child {
  margin-bottom: 0;
}

.list li:before {  
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border: 3px solid #fff;
  top: 4px;
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 2px;
}

.slick {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.slick li {
  position: relative;
  width: 100%;
  height: 400px;
  background: #dedede;
}

.slick img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

code {
  position: relative;
  display: block;
  font-size:16px;
  width: 80%;
  padding: 10px 0 10px 20px;
  background: #4c4a4a;
  word-spacing: -7px;
}

code:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: #3a241d;
}

code span {
  color: #fff;
}

code .red_txt {
  color: #f9263e;
}

code .blue_txt {
  color: #66d9ef;
}

code .green_txt {
  color: #80d02d;
}
code .yellow_txt {
  color: #e6db74;
}
code .purple_txt {
  color: #ae81dd;
}

.options_box {
  position: fixed;
  right: -83px;
  top: 150px;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  letter-spacing: -4px;
}

.options_box li {
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #fff;
  letter-spacing: normal;
}

.options_box li:first-child {
  border-top-left-radius: 10px;
  background: #C06C84;
  border-right: none;
}

.options_box li:last-child {
  border-top-right-radius: 10px;
  background: #355C7D;
  border-left: none;
}

.options_box a {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  min-width: 100px;
  text-decoration: none;
}

.options_box .active {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.options_box .active a {
  padding: 10px 0 20px;
}